In [6]:
import pandas as pd

# a dictionary of industry sector symbols
group_dictionary = pd.read_csv('data/group_dictionary.csv', sep=';')
column_names_dictionary = pd.read_csv('data/column_names_dictionary.csv', sep=';')
test_data_no_target = pd.read_csv('data/test_data_no_target.csv', sep=';')
training_data = pd.read_csv('data/training_data.csv', sep=';')

display(group_dictionary)
display(column_names_dictionary)
display(test_data_no_target)
display(training_data)

   CODE  NUM                  SECTOR
0    G1    1              Financials
1    G2    2             Industrials
2    G3    3                  Energy
3    G4    4  Information Technology
4    G5    5        Consumer Staples
5    G6    6             Health Care
6    G7    7               Utilities
7    G8    8               Materials
8    G9    9  Consumer Discretionary
9   G10   10             Real Estate
10  G11   11  Communication Services

      CODE  INDEX                                     INDICATOR NAME
0    Group      1                                    Industry sector
1       I1      2            Return on Average Total Assets - %, TTM
2       I2      3           Return on Average Common Equity - %, TTM
3       I3      4            EBITDA Percentage of Common Equity, TTM
4       I4      5  EBITDA Percentage of Total Fixed Assets - Net,...
..     ...    ...                                                ...
112   dI54    113  1-year Absolute Change of Total Liabilities Pe...
113   dI55    114  1-year Absolute Change of Long Term Debt Perce...
114   dI56    115  1-year Absolute Change of Book Value Percentag...
115   dI57    116  1-year Absolute Change of Cash Flow from Opera...
116   dI58    117  1-year Absolute Change of Price to Cash Flow f...

[117 rows x 3 columns]

,Group,I1,I2,I3,I4,I5,I6,I7,I8,I9,...,dI49,dI50,dI51,dI52,dI53,dI54,dI55,dI56,dI57,dI58
0,G3,"0,039283602","-0,034382297","-0,040372758","0,090022863","-0,055952942","0,049228792","0,016236327","-0,045864875","0,692038889",...,"-0,377892086","-0,410908257","-0,4174375","-0,220480519","0,002526132","0,124542933","-0,219341446","0,148324265","0,020379011","-0,004968758"
1,G9,"-0,49171284","-0,039484003","-0,043611749","-0,320311784","0,065520424","-0,216313827","-0,366573195","-0,052790325","-0,370449142",...,"0,553798561","0,660504587","0,806","0,781506494","-0,012519164","-0,014168533","0,669341446","0,015032946","0,023410578","0,00703696"
2,G7,"-0,744978606","-0,038270979","-0,038631212","-0,824020601","0,117907124","-1,434879266","-0,707810386","-0,07317615","-1,698336588",...,"0,707251799","0,909110092","0,7380625","-0,024402597","0,032078978","0,095528","0,350732999","-0,149682485","0,005133925","1,135388545"
3,G2,"0,694506862","-0,026038231","-0,038985338","1,892921303","-0,100101948","0,022435913","-0,198047969","-0,050572177","0,208738117",...,"-0,120561151","-0,118926606","-0,13025","-0,000467532","0,002082462","0,0235408","-0,044463851","0,033332299","0,079054274","-0,002624005"
4,G2,"0,207123179","-0,020461894","-0,033451402","-0,010191074","-0,1468122","0,235520936","0,044640252","-0,029061501","0,464285714",...,"-0,672086331","-0,679972477","-1,1369375","-0,78987013","0,00783856","-0,424394133","-0,704341446","0,011888905","0,93628384","-0,015744808"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,G9,"-1,19292389","-0,049078613","-0,049806363","-0,513692306","-0,081669072","-0,334987333","-0,484037834","-0,063376097","-0,860112974",...,"0,280021583","0,197899083","0,4255625","0,146857143","0,00788734","0,144110933","0,556732283","0,809249743","0,040463968","-0,000838052"
1996,G11,"0,761005947","-0,028789812","-0,0405864","-0,098536772","0,334470266","0,177993255","0,733064644","-0,032185988","2,498566939",...,"-0,140446043",NaN,"-0,0445625","0,508116883","0,007099884","0,492208533","0,634158912","-0,389522136","0,030106002","0,019738706"
1997,G4,"0,663619883","-0,014720892","-0,035248591","2,367520546","0,035821969","0,437514123","0,241243739","-0,033636898","0,475281787",...,"-0,562151079","-0,694238532","-0,9741875","0,052025974","0,026135889","0,2872944","-0,278286328","-0,283358045","-0,005307529","0,001944382"
1998,G1,"-0,887895947","-0,03114856","-0,044787049",NaN,"3,235044011","9,613638131","10,03214917","0,096884551","0,04966795",...,NaN,NaN,NaN,NaN,"-0,117761905","0,0380352","-0,140377237","-1,11076421",NaN,"0,000806723"
1999,G8,"0,691366543","-0,022306812","-0,034866587","-0,377679746","-0,301962681","-0,181149758","-0,18618068","-0,052011263","-0,148453358",...,"-0,004834532","-0,024412844","0,03425","-0,028168831","-0,009722416","0,027624533","-0,374882606","-1,427324845","0,014535658","0,010738294"

,Group,I1,I2,I3,I4,I5,I6,I7,I8,I9,...,dI51,dI52,dI53,dI54,dI55,dI56,dI57,dI58,Class,Perform
0,G9,"0,136495061","-0,02842866","-0,037771783","-0,232458668","-0,016221513","-0,187506244","-0,322545081","-0,043742915","0,125388591",...,"0,1025625","0,188480519","-0,016026713","-0,1354512","-0,189667144","0,250966607","0,022171096","-0,004265114",-1,"-0,033763805"
1,G5,"-0,714521622","-0,042137266","-0,052967899","-0,796862406","-0,018393532","0,070102442","-0,076321143","-0,06386426","-1,045520848",...,"-0,016375","0,020727273","-0,006524971","-0,0187904","-0,098542591","0,317744482","-0,180502098","-0,009215046",1,"0,127771413"
2,G10,"0,104791084","-0,038187827","-0,053190774","0,620232526","0,148587485","0,489875115","0,31927422","-0,060245504","0,053174105",...,"0,2729375","0,774168831","-0,007144019","0,1239536",0,"-0,110102653","0,186669403","-0,03072029",1,"0,183499793"
3,G2,"-0,532846963","-0,006581684","-0,023377468","1,306702483","-0,068908825","0,048023525","-0,11948088","-0,021057251","-1,012916049",...,"0,0049375","0,018493506","-0,003349593","-0,029213867","0,045747316","-0,076884202","-0,037859443","-0,01204606",-1,"-0,035667677"
4,G3,"-0,200814523","-0,016334161","-0,036753591","-0,886674882","0,484494952","-1,148744416","0,152517253","-0,04357978","-0,935536904",...,"-0,0148125","-0,324584416","-0,019002323","-0,379322667","-0,046023622","0,282144827","0,011007876","0,010496368",1,"0,235054797"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,G1,"-0,9464775","-0,039767018","-0,051916185",NaN,"-9,099326087","1,470616059","1,470373899","-0,045827102","-1,323459946",...,NaN,NaN,"-0,015912892","0,019281067","-0,000427344","-0,642472075","-4,266003234","0,009687018",1,"0,239101107"
7996,G7,"-0,521182947","-0,038272071","-0,047929148","-0,820631895","-0,179414384","-0,774646423","0,413705731","-0,051829804","-0,378937293",...,"-0,16875","0,120571429","-0,010506388","-0,1002864","-0,198928418","0,053720399","-0,001450183","-0,001877182",1,"0,242938166"
7997,G2,"0,323233374","-0,031074684","-0,045712969","-0,105448254","-0,103822886","0,153550593","-0,052157466","-0,056057053","-0,163511548",...,"0,245","0,079662338","-0,009149826","-0,1913216","-0,083576235","0,024407413","0,299831548","-0,011129331",1,"0,279085189"
7998,G4,"1,084416313","-0,028496578","-0,047527571","-0,180118054","-0,634161926","0,14358918","-0,033257997","-0,058395693","0,088713071",...,"-0,0416875","-0,238480519","0,006060395","-0,016044267",NaN,"0,209235324","-0,165349308","0,012004849",-1,"-0,171055549"
7999,G2,"0,373260933","-0,03029381","-0,042319432","0,675851127","-0,099476674","-0,113594109","-0,347343781","-0,053666778","0,004552173",...,"-0,0539375","-0,073350649","-0,000803717","-0,118710933","-0,106933429","-0,034372222","0,017756701","0,005796314",0,"-0,004042823"