In [45]:
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
training_data = pd.read_csv('data/training_data.csv', sep=';', decimal=',')

In [8]:
training_data

,Group,I1,I2,I3,I4,I5,I6,I7,I8,I9,...,dI51,dI52,dI53,dI54,dI55,dI56,dI57,dI58,Class,Perform
0,G9,0.136495,-0.028429,-0.037772,-0.232459,-0.016222,-0.187506,-0.322545,-0.043743,0.125389,...,0.102563,0.188481,-0.016027,-0.135451,-0.189667,0.250967,0.022171,-0.004265,-1,-0.033764
1,G5,-0.714522,-0.042137,-0.052968,-0.796862,-0.018394,0.070102,-0.076321,-0.063864,-1.045521,...,-0.016375,0.020727,-0.006525,-0.018790,-0.098543,0.317744,-0.180502,-0.009215,1,0.127771
2,G10,0.104791,-0.038188,-0.053191,0.620233,0.148587,0.489875,0.319274,-0.060246,0.053174,...,0.272937,0.774169,-0.007144,0.123954,0.000000,-0.110103,0.186669,-0.030720,1,0.183500
3,G2,-0.532847,-0.006582,-0.023377,1.306702,-0.068909,0.048024,-0.119481,-0.021057,-1.012916,...,0.004938,0.018494,-0.003350,-0.029214,0.045747,-0.076884,-0.037859,-0.012046,-1,-0.035668
4,G3,-0.200815,-0.016334,-0.036754,-0.886675,0.484495,-1.148744,0.152517,-0.043580,-0.935537,...,-0.014812,-0.324584,-0.019002,-0.379323,-0.046024,0.282145,0.011008,0.010496,1,0.235055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,G1,-0.946477,-0.039767,-0.051916,NaN,-9.099326,1.470616,1.470374,-0.045827,-1.323460,...,NaN,NaN,-0.015913,0.019281,-0.000427,-0.642472,-4.266003,0.009687,1,0.239101
7996,G7,-0.521183,-0.038272,-0.047929,-0.820632,-0.179414,-0.774646,0.413706,-0.051830,-0.378937,...,-0.168750,0.120571,-0.010506,-0.100286,-0.198928,0.053720,-0.001450,-0.001877,1,0.242938
7997,G2,0.323233,-0.031075,-0.045713,-0.105448,-0.103823,0.153551,-0.052157,-0.056057,-0.163512,...,0.245000,0.079662,-0.009150,-0.191322,-0.083576,0.024407,0.299832,-0.011129,1,0.279085
7998,G4,1.084416,-0.028497,-0.047528,-0.180118,-0.634162,0.143589,-0.033258,-0.058396,0.088713,...,-0.041688,-0.238481,0.006060,-0.016044,NaN,0.209235,-0.165349,0.012005,-1,-0.171056
7999,G2,0.373261,-0.030294,-0.042319,0.675851,-0.099477,-0.113594,-0.347344,-0.053667,0.004552,...,-0.053937,-0.073351,-0.000804,-0.118711,-0.106933,-0.034372,0.017757,0.005796,0,-0.004043

In [10]:
28000 / (800 * 119) of data is NA or NaN

0.29411764705882354

In [16]:
training_data['dI51'].isna()

523

In [22]:
(training_data['dI51'] == "NaN").sum()

0

In [27]:
training_data.isna().sum()

Group        0
I1           0
I2           0
I3           0
I4         525
          ...
dI56        20
dI57       135
dI58       249
Class        0
Perform      0
Length: 119, dtype: int64

In [31]:


training_data[training_data['dI51'].isna()].Class.value_counts()

-1    238
 1    226
 0     59
Name: Class, dtype: int64

In [40]:
training_data[training_data['Group'] == "G8"]['Class'].value_counts()

 1    259
-1    244
 0     82
Name: Class, dtype: int64

In [43]:
training_data[training_data['I4'].isna()]['Class'].value_counts()

-1    238
 1    228
 0     59
Name: Class, dtype: int64

In [54]:
training_data.isnull().sum().sum()

28933

In [55]:
training_data.isna().sum().sum()

28933